[main]
db_url: sqlite:///images.sqlite3
images_dir: images

[twitter]

consumer_key: 
consumer_secret: 

access_token: 
access_token_secret: 

[messages]
missing_status: Identifique a foto com um REPLY
