[main]
db_url: sqlite:///images.sqlite3
images_dir: images

[twitter]
screen_name: @botname
consumer_key: 
consumer_secret: 

access_token: 
access_token_secret: 

[messages]
missing_status: reply to this post with a new description and ask friends to fav your reply in order to change it next time it gets tweeted 
